{% for port in ports %}
[mysqld@mysql{{ port }}]
socket = /var/lib/mysql-mysql{{ port }}/mysql.sock
port = {{ port }}
datadir = /var/lib/mysql-mysql{{ port }}
log-error = /var/log/mysql-mysql{{ port }}.log
{% endfor %}
